<div id="playerWrap">
  <div id="logo">
    <img src="{{stationLogo}}">
  </div>
  <div id="liveInfo">
    <div id="livePic">
      <img src="{{imgUrl}}">
    </div>
    <div id="liveText">
      <p id="title">{{title}}</p>
      <p id="artist">{{artist}}</p>
      <a target="_blank" href="http://{{stationURL}}" id="url">{{stationURL}}</a>
    </div>
  </div>
  <div id="player">
    <audio src="{{audioURL}}" controls="" preload autoplay>
        <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error: </span>
        Your browser is not supported for audio streaming.
      </div>
    </audio>
  </div>
</div>
